nav{
  display: flex;
  width: 100%;
  height: 7rem;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 2rem;
  align-items: center;
  box-shadow: 0 0 0.5rem var(--bg-color);
}
.container-logo img{
  height: 9rem;
  width: 20rem;
  padding-top: 15px;
  padding-bottom: 5px;
}
.container-menu a{
  color:#010065;
}
.container-menu a:hover{
  color:#6766cd ;
  border-bottom: 2px solid #010065;
}
.d-inline-block{
  width: 15rem;
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}
.bi{
  color: #010065;
  font-size: 25px;
}
.nav-link{
  font-size: 20px;
}

