<nav class="navbar navbar-expand-lg fixed-top">

  <div class="container-logo">
    <a class="navbar-brand" href="#">
      <img src="\assets\genesis-foto\logo-genesis.png" alt="" class="d-inline-block">
    </a>
  </div>

  <div class="container-menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/partner/about">SOBRE NÓS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partner/seguradoras">SEGURADORAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PLANOS DE SAÚDE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/partner/contatos">CONTATOS</a>
        </li>
        <li class="nav-item dropdown-partner">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PRODUTOS E SERVIÇOS
          </a>
          <ul class="dropdown-menu-partner" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item-partner" *ngFor="let item of productService" routerLink="{{item.caminho}}">{{item.service}}</a></li>
            <li><hr class="dropdown-divider-partner"></li>
            <li><a class="dropdown-item-partner" href="#">Veja mais</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="container-social-network">
    <a class="navbar-brand" target="_blank" href="https://www.facebook.com/?locale=pt_BR">
      <i class="bi bi-facebook"></i>
    </a>
    <a class="navbar-brand" target="_blank" href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fnotifications%2F">
      <i class="bi bi-linkedin"></i>
    </a>
    <a class="navbar-brand" target="_blank" href="https://www.instagram.com/">
      <i class="bi bi-instagram"></i>
    </a>
    <a class="navbar-brand" target="_blank" href="https://web.whatsapp.com/">
      <i class="bi bi-whatsapp"></i>
    </a>
  </div>
</nav>
