nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 75px;
}
.container-category{
  display: none;
}

/* Ativando o responsivo no menu*/
@media (min-width: 834px){

  .container-category{
    display: block;
  }

}


.menu-location{
  display: flex;
  width: 3rem;
  align-items: center;

}

