nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.container-category{
  display: none;
}

/* Ativando o responsivo no menu*/
@media (min-width: 834px){

  .container-category{
    display: block;
  }

}

.menu-location{
  width: 3rem;
  align-items: center;
}
.menu-user{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
.menu-user i{
  margin-right: 50px;
}

