<nav class="navbar z-3 fixed-top navbar-dark bg-dark">
  <div class="logo">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/Compass.png"
          alt="Logo"
          class="d-inline-block align-text-top"
        />
        AQUI NO BAIRRO
      </a>
    </div>
  </div>
  <div class="menu">
    <div class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  aria-expanded="false">
              Seguimentos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Padaria</a></li>
              <li><a class="dropdown-item" href="#">Mercadinho</a></li>
              <li><a class="dropdown-item" href="#">Armazem</a></li>
              <li><a class="dropdown-item" href="#">Igreja</a></li>
              <li><a class="dropdown-item" href="#">Manicure e Pedicure</a></li>
              <li><a class="dropdown-item" href="#">Lanhouse</a></li>
              <li><a class="dropdown-item" href="#">Eventos</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Outros</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" >Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>

