<div class="about">
  <div class="container">
    <div class="titulo">
      <h1>Missão</h1>
    </div>
    <p>
      Agregar valor as regiões apresentando os seus comerciantes, mostrando ao
      publico externo e interno a existencia do comercio no local. Atraindo
      assim novos investidores e novos empreendedores.
    </p>
  </div>

  <div class="container">
    <div class="titulo">
      <h1>Visão</h1>
    </div>
    <p>Apresentar do menor ao maior comerciante do Brasil.</p>
  </div>

  <div class="container">
    <div class="titulo">
      <h1>Valores</h1>
    </div>
    <p>
      Clareza no processo, Responsabilidade com o cliente, Qualidade nas
      entregas e Durabilidade nas parcerias.
    </p>
  </div>
</div>
