<section class="contact" id="contact">
  <h2 class="heading">FALE <span>CONOSCO!</span></h2>

  <div class="contact-map">
    <form action="">
      <div class="input-box">
        <input type="text" placeholder="Nome Completo" />
        <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required placeholder="email@email.com" />
      </div>
      <div class="input-box">
        <input type="tel" placeholder="Telefone" required />
        <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="emailalternativo@emailalternativo.com" required />
      </div>
      <textarea
        name=""
        id=""
        cols="30"
        rows="10"
        placeholder="Fale um pouco aqui sobre a sua dúvida ou solicite o seu orçamento aqui!!"
      ></textarea>
      <input type="submit" value="Send Message" class="btn" />
    </form>
    <div class="container-endereco-horario">
      <div class="endereco">
        <!-- <h2>Endereço</h2> -->
        <div class="endereçoHorarios">
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">PE-035, 40 - Centro, Igarassu - PE, 53659-899</li>
          </ul> -->
          <h3>HORÁRIO DE FUNCIONAMENTO</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Dia</th>
              <th>Horários</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of horario">
                <td>{{item.dia}}</td>
                <td>{{item.horario}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15810.56481020613!2d-34.9097943!3d-7.8277462!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab6b5b9d23e4f3%3A0xd4315042ed897994!2sG%C3%AAnesis%20Seguros%20e%20Planos%20de%20sa%C3%BAde!5e0!3m2!1spt-BR!2sbr!4v1701916492522!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
