/* ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}
div{
  margin-top: 2rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}
.about-partner-promotions-container {
  align-items: center;
  border-radius: 2rem;
  display: flex;
  padding: 2rem 2rem 2rem 2rem;
}

.about-partner-promotions-box {
  border-radius: 2rem;
  overflow: hidden;
  height: 45rem;
  width: 111rem;
}
.about-partner-promotions-box img {
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

.about-partner-promotions-box:hover img {
  transform: scale(1.1);
}

.about-partner-portfolio-box .about-partner-portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.about-partner-portfolio-box:hover .about-partner-portfolio-layer {
  transform: translateY(0);
}

.about-partner-portfolio-layer h4 {
  font-size: 1.5rem;
}

.about-partner-portfolio-layer p {
  font-size: 1rem;
  margin: .3rem 0 1rem;
}

.about-partner-portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.about-partner-portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}
