<div class="apresentation">
  <div class="container-left">
    <div class="apresentation-img">
      <img src="assets/genesis-foto/Design_sem_nome-removebg-preview.png" alt="">
    </div>
  </div>
  <div class="container-right">
    <h2 class="heading-product">PRODUTOS & <span>SERVIÇOS</span></h2>
    <div class="apresetation-text">
      <p>
        Oferecemos uma linha completa de produtos e serviços com o objetivo de proteger você, seu patrimônio e sua família.
      </p>
    </div>
    <div class="portfolio-container">
      <div class="portfolio-box">
        <img src="assets/genesis-foto/veicular.jpeg" alt="" />
        <p>
          Seguros De Veículos Com Todas As Seguradoras.
        </p>
        <div class="portfolio-layer">
          <h4>Seguro Veicular</h4>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="assets/genesis-foto/saude-genesis.png" alt="" />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
            facilis.
          </p>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="assets/genesis-foto/hapvida-logo.png" alt="" />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
            facilis.
          </p>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="assets/genesis-foto/hapvida-logo.png" alt="" />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
            facilis.
          </p>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="assets/genesis-foto/hapvida-logo.png" alt="" />
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
            facilis.
          </p>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
  </div>
</div>
