<div class="apresentation">
  <div class="container-left">
    <div class="apresentation-img">
      <img src="assets/genesis-foto/Design_sem_nome-removebg-preview.png" alt="">
    </div>
  </div>
  <div class="container-right">
    <h2 class="heading-product">PRODUTOS & <span>SERVIÇOS</span></h2>
    <div class="apresetation-text">
      <p>
        Oferecemos uma linha completa de produtos e serviços com o objetivo de proteger você, seu património e sua familia.
      </p>
    </div>
    <div class="portfolio-container">
      <div class="portfolio-box" *ngFor="let item of products">
        <img [src]="item.imgService" [alt]="" />
        <p>
          {{item.textoImg}}
        </p>
        <div class="portfolio-layer">
          <h4>{{item.textoImg}}</h4>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
  </div>
</div>
