.swiper-container {
  width: 80%;
  margin: auto;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}
h2{
  margin-top: 3rem;
}

p{
  text-align: center;
}

ngx-slick-carousel{
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.carrossel {
  width: 90%;
  height: 50%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.carrossel a img {
  width: 90%;
  height: 100%;
}
