.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.we-product{
  margin: 10rem 0 1rem 0;
  min-height: 50rem;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
}
h1{
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
select{
  font-size: 25px;
  padding-left: 1rem;
  text-align: center;
  border: none;
}
.search-service-partner{
  padding: 15px 17px;
  border: none;
  z-index: 1002;
  top: 100%;
  left: -1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
.search-button-partner{
  height: 2.5rem;
  width: 2.5rem;
  background-color: #fff;
}
svg {
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin-left: 1rem;
}
svg:hover{
  color: #010160;
  transform: scale(1.1);
}
#tipoSelecionado{
  height: 3rem;
  border-radius: 50px;
  width: 40rem;
  background-color: none;
  font-style: black;
  border: 1px solid black;
}
.portfolio-container-products {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  gap: 1rem;
}

.portfolio-container-products .portfolio-box-products {
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--bg-color-two);
  overflow: hidden;
  display: flex;
  height: 13rem;
  border: 1.5px solid #FFF;
}
.portfolio-box-products img {
  width: 80%;
  transition: 1.5s ease;
  }

  .portfolio-box-products:hover img {
    transform: scale(1.1);
  }

  .portfolio-box-products .portfolio-layer-products {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .8), white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
  }

  .portfolio-box-products:hover .portfolio-layer-products {
    transform: translateY(0);
    border: 2px solid #00035e;
  }
  .portfolio-layer-products h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: white;
  }

  .portfolio-layer-products p {
    font-size: .5rem;
    margin: .3rem 0 1rem;
  }

  .portfolio-layer-products a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color-two);
    border-radius: 50%;
  }

  .portfolio-layer-products a i {
    font-size: 2rem;
    color: var(--second-bg-color);
  }

