<div class="we-product">
  <h1>PRODUTOS & SERVIÇOS</h1>

  <!-- FILTRO NOS PRODUTOS E SERVIÇOS DOS PARCEIROS -->
  <div class="search-service-partner">
    <select id="tipoSelecionado" [(ngModel)]="tipoSelecionado" >
      <option *ngFor="let item of marcaSelecionada" [value]="item">{{item}}</option>
    </select>
    <button (click)="realizarFiltro(tipoSelecionado)" class="search-button-partner">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </button>
  </div>

  <div *ngIf="marcasFiltradas && marcasFiltradas.length > 0">.
    <!-- <h3>Marcas Filtradas:</h3> -->
    <!-- <ul>
      <li *ngFor="let marca of marcasFiltradas">{{ marca }}</li>
    </ul> -->

    <div class="portfolio-container">
      <div class="portfolio-box" *ngFor="let item of marcasFiltradas">
        <img [src]="item.imgService" [alt]="" />
        <!-- <p>
          {{item.textoImg}}
        </p> -->
        <div class="portfolio-layer">
          <h4>{{item.titulo}}</h4>
          <a href="">
            <i class="bx bx-link-external"></i>
          </a>
        </div>
      </div>
  </div>
  </div>
</div>

