
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/carouselImage/aws_logo.png" class="d-block w-50" alt="aws">
    </div>
    <div class="carousel-item">
      <img src="../assets/carouselImage/IBM_logo.png" class="d-block w-100" alt="ibm">
    </div>
    <div class="carousel-item">
      <img src="../assets/carouselImage/Logo_CESAR.png" class="d-block w-100" alt="cesar">
    </div>
    <div class="carousel-item">
      <img src="../assets/carouselImage/Microsoft-Logo.png" class="d-block w-100" alt="microsoft">
    </div>
    <div class="carousel-item">
      <img src="../assets/carouselImage/mv.jpeg" class="d-block w-100" alt="mv">
    </div>
  </div>
</div>
